@font-face {
  font-family: 'gilroy';
  src: url('/src/Assets/font/Gilroy-Regular.ttf');
  src:
    local('Gilroy Font'),
    local('Gilroy-Font'),
    url('/src//Assets/font/Gilroy-Regular.ttf') format('opentype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* <===global===> */

.poppins-700 {
  font-family: 'Poppins';
  font-weight: 700;
}

.poppins-600 {
  font-family: 'Poppins';
  font-weight: 600;
}

.poppins-500 {
  font-family: 'Poppins';
  font-weight: 500;
}

.poppins-400 {
  font-family: 'Poppins';
  font-weight: 400;
}

.gilroy-400 {
  font-family: 'gilroy';
  font-weight: 400;
}

.gilroy-500 {
  font-family: 'gilroy';
  font-weight: 500;
}

.gilroy-700 {
  font-family: 'gilroy';
  font-weight: 700;
}

.color-primary {
  color: #DC1E23;
}

.background-primary {
  background: #DC1E23;
}

.color-secondary {
  color: #F2572E;
}

.background-secondary {
  background: #F2572E;
}

.color-white {
  color: white;
}

/* <====Navbar====> */
.navbar-left-menu {
  font-size: 26px;
  line-height: 31px;
  cursor: pointer;

}

.navbar-center {
  width: 40%;
  justify-content: space-between;

}

.navbar-center-menu {
  cursor: pointer;
}

.navbar-center-menu:active {
  color: #F2572E;
}

.navbar-right {
  width: 10%;
}

.btn-download {
  padding: 10%;
  border: none;
  border-radius: 10px;
  color: white;
}

/* <====footer====> */
.footer {
  margin-top: -10%;
  padding-bottom: 5%;
}

.footer-main {
  width: 100%;
}

.footer-profile {
  width: 50%;
}

.wrapper-img-company {
  margin-bottom: 3%;
}

.footer-profile-text {
  width: 80%;
  font-size: 18px;
  line-height: 150%;
  margin: 2% 0
}

.footer-profile-sns {
  margin: 3% 0;
}

.footer-profile-sns-icon {
  border: 2px solid #939090;
  border-radius: 50%;
  color: #939090;
  font-size: 20px;
  padding: 1% 2.2%;
  margin-right: 4%;
  cursor: pointer;
}

.footer-helper {
  width: 25%;
}

.footer-helper-header {
  font-size: 22px;
  letter-spacing: 0.016em;
  margin-bottom: 8%;
}

.footer-helper-sub-menu {
  font-size: 18px;
  line-height: 42px;
  color: #807D7D;
}

.footer-kontak {
  width: 25%;
}

.footer-kontak-header {
  font-size: 22px;
  letter-spacing: 0.016em;
  margin-bottom: 8%;
}

.footer-kontak-sub-menu {
  font-size: 18px;
  line-height: 42px;
  color: #807D7D;
}

/* <===main===> */
.hero-1 {
  margin-top: 10%;
  margin-bottom: 1%;
}

.hero-1-left {
  width: 48%;
  margin-left: 8.5%;
}

.hero-1-left-header {
  width: 93%;
  font-size: 47px;
  margin-bottom: 3%;
}

.hero-1-left-main {
  width: 90%;
  font-size: 16px;
  margin-bottom: 3%;

}

.hero-1-left-button {
  text-align: center;
  margin: 2% 0;
}

.hero-1-left-button-left {
  width: 35%;
  margin-right: 3%;
  padding: 3%;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  align-items: center;
}

.gplay-text {
  margin-left: 8%;
  text-align: left;
}

.gplay-text-header {
  font-size: 12px;
}

.gplay-text-main {
  font-size: 16px;
}

.hero-1-left-button-right {
  width: 35%;
  margin-right: 3%;
  padding: 3%;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  align-items: center;

}

.icon-apple {
  font-size: 40px;
}

.apple-text {
  margin-left: 8%;
  text-align: left;
}

.apple-text-header {
  font-size: 13px;
}

.apple-text-main {
  font-size: 18px;
}

.field-more {
  margin: 2% 5% 3% 0;
}

.count {
  font-size: 35px;
}

.desc {
  font-size: 18px;
}

.hero-1-right {
  width: 55%;
}

.group1 {
  width: 80%;
  height: 55%;
  margin-bottom: -45%;
  margin-left: 20%;
}

.fish1 {
  width: 30%;
  margin-left: 5%;
}

.wrapper-hp1 {
  margin-top: -71%;
}

.hp1 {
  width: 90%;
  margin-left: 5%;

}

.group2 {
  width: 100%;
}

.wrapper-hero-2 {
  margin: 0 4%;
  margin-top: -18%;
  width: 49%;
}

.hero-2-line {
  margin-top: -22.9%;
  background-color: white;
  color: white;
  font-size: 1px;

}

.wrapper-hero-2-header {
  width: 90%;
  font-size: 35px;
  margin-bottom: 2%;
}

.wrapper-hero-2-header-right {
  width: 100%;
  font-size: 35px;
  margin-bottom: 2%;
}

.wrapper-hero-2-main {
  width: 90%;
  font-size: 16px;
  margin-bottom: 2%;

}

.wrapper-hero-2-btn {
  width: 90%;
}

.input-text-hero-2 {
  width: 60%;
  border-radius: 15px;
  border: none;
  padding: 2%;
  font-size: 14px;
}

.btn-hero-2 {
  width: 30%;
  margin-left: 2%;
  border-radius: 15px;
  border: none;
  padding: 2%;
}

.wrapper-hero-2-input {
  margin: 2% 0;
}

.input-location1 {
  margin-right: 3%;
  padding: 2%;
  border: none;
  border-radius: 14px;
}

.input-location {
  padding: 2%;
  border: none;
  border-radius: 14px;
}

.btn-ongkir {
  width: 25%;
  border: none;
  border-radius: 14px;
  padding: 1.8%;
}

.hero-3-header {
  padding: 5% 20%;
}

.hero-3-header-text {
  font-size: 30px;
  margin-bottom: 3%;
}

.hero-3-header-text-main {
  font-size: 18px;
}

.wrapper-plus-sub {
  padding: 3%;
  width: 33%;
  margin: 1%;
  border: 1px solid #E7EAEC;
  border-radius: 30px;
}

.wrapper-plus-sub:hover {
  padding: 3%;
  width: 33%;
  margin: 1%;
  border: 1px solid #E7EAEC;
  border-radius: 30px;
  box-shadow: 25px 25px 100px rgba(166, 161, 157, 0.1);
}

.wrapper-img-plus {
  background: rgba(216, 25, 30, 0.1);
  border-radius: 12px;
  padding: 10%;
  margin: 0 32%;
  align-items: center;
}

.icon-plus {
  font-size: 35px;
}

.wrapper-text-header-plus {
  font-size: 21px;
  margin-top: 5%;
  margin-bottom: 5%;

}

.wrapper-text-main-plus {
  font-size: 16px;
  margin-top: 3%;
}

.hero-4 {
  margin-top: 5%;
}

.hero-4-left {
  flex: 1;
  margin: 10% 0;
  margin-left: 10%;
}

.hero-4-left-text {
  width: 90%;
  font-size: 38px;
  letter-spacing: 0.016em;
}

.hero-4-left-text-main {
  width: 90%;
  font-size: 18px;
  letter-spacing: 0.016em;
}

.hero-4-right {
  flex: 1;
}

.group3 {
  width: 80%;
  height: 60%;
  margin-left: 20%;
  margin-bottom: -70%;

}

.fish2 {
  margin-bottom: -60%;
  width: 40%;
}

.hp2 {
  width: 80%;
  margin-left: 20%;
  margin-top: -12%;
}

.hero-5 {
  margin-top: 5%;
}

.hero-5-left {
  flex: 1;
}

.group4 {
  width: 80%;
  height: 55%;
  margin-right: 20%;
  margin-bottom: -82%;

}

.hp3 {
  width: 80%;
  margin-top: -2.5%;
}

.fish3 {
  margin-left: -20%;
  margin-top: 20%;
  width: 38%;
  height: 38%;
}


.hero-5-right {
  flex: 1;
  margin: 10% 0;
  margin-left: 3%;
}

.hero-5-right-text {
  width: 90%;
  font-size: 38px;
  letter-spacing: 0.016em;
}

.hero-5-right-text-main {
  width: 90%;
  font-size: 18px;
  letter-spacing: 0.016em;
}

.hero-6 {
  margin-top: 5%;
}

.hero-6-left {
  flex: 1;
  margin: 10% 0;
  margin-left: 10%;
}

.hero-6-left-text {
  width: 90%;
  font-size: 38px;
  letter-spacing: 0.016em;
}

.hero-6-left-text-main {
  width: 90%;
  font-size: 18px;
  letter-spacing: 0.016em;
}

.hero-6-right {
  flex: 1;
}

.group5 {
  width: 80%;
  height: 60%;
  margin-left: 20%;
  margin-bottom: -70%;

}

.fish4 {
  margin-bottom: -65%;
  width: 40%;
}

.hp4 {
  width: 80%;
  margin-left: 20%;
  margin-top: -12%;
}

.testimonial {
  margin-bottom: 10%;
}

.testimonial-header {
  padding: 5% 25%;
}

.testimonial-header-text {
  font-size: 38px;
  letter-spacing: 3px;
  margin-bottom: 2%;
}

.testimonial-header-text-main {
  font-size: 18px;
  letter-spacing: 1x;
}

.testi-card {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 1px 5px 0px rgb(201, 200, 200);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.slick-slide {
  padding: 0.5em 1em;
}

.testi-detail {
  margin: 3% 0 5% 0;
}

.person {
  object-fit: cover;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5%;
  border: 2px solid #DC1E23;
}

.user-detail {
  align-self: center;
}

.downloader {
  margin-top: 5%;
}

.Group6 {
  width: 100%;
}

.wrapper-downloader {
  margin-top: -27%;
  margin-bottom: 8%;
}

.wrapper-downloader-left {
  width: 50%;
}

.wrapper-downloader-right {
  width: 50%;
}

.img-man {
  height: 100%;
  margin-top: -24.7%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}